<div class="wrapper">
  <div class="c-headynav">
    <header class="c-header">
      <i class="bi bi-search"></i>

      <a href="">
        <h1>
          BeHat
        </h1>
      </a>

      <div class="ico-header">
        <i class="bi bi-cart4"></i>
        <i class="bi bi-person-circle"></i>
      </div>
    </header>

    <nav class="c-nav">
      <div class="c-enlaces">
        <a href="">
          <h2>
            INICIO
          </h2>
        </a>
        <a href="">
          <h2>
            MUJER
          </h2>
        </a>
        <a href="">
          <h2>
            HOMBRE
          </h2>
        </a>
        <a href="">
          <h2>
            PROMOS
          </h2>
        </a>
      </div>
    </nav>

  </div>
</div>
