<div class="wrapper">
  <app-navbar></app-navbar>

  <section class="c-carrousel">

  </section>
  <main class="c-info">
    <section class="acerca-de">
      <h2>
        Acerca de Nosotros
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ea sequi deserunt explicabo! Cumque perspiciatis quas, sed consequuntur aut blanditiis maiores libero natus saepe placeat. Quam necessitatibus dolorem quia similique!
      </p>
    </section>

    <section class="mision">
      <h2>
        Misión
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aliquam aperiam repudiandae? Cumque nulla quae nesciunt eos incidunt explicabo, doloremque recusandae iure ipsam, reprehenderit doloribus corrupti deleniti harum vero at.
      </p>
    </section>

    <section class="vision">
      <h2>
        Visión
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident excepturi quas ab soluta velit quidem magnam nemo aliquam voluptate quo, repudiandae blanditiis. Cupiditate obcaecati amet sunt repudiandae nihil cumque dolor!
      </p>
    </section>
  </main>

  <footer class="c-footer">
    <i class="bi bi-instagram"></i>
    <i class="bi bi-facebook"></i>
  </footer>
</div>
